* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://wallpaperaccess.com/full/1092578.jpg");
  background-image: url("assets/background-image.jpg");

  background-size: cover;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 75vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.275);
  box-shadow: 5px 10px 25px black;

  box-shadow:
    0 0 25px rgba(255, 255, 255, 0.104),
    inset 0 0 10px 5px rgba(0, 0, 0, 0.063);

  border: 1px solid rgba(255, 255, 255, 0.119);
  border-radius: 20px;
  position: relative;
}

header {
  height: 30%;
  width: 100%;

  /* background-color: black; */
  /* position: absolute; */

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 0px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.087);
}

.head {
  /* background-color: aqua; */
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 30px;
  position: relative;
}

.head::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.128);
}

.app-name-img {
  display: flex;
  gap: 15px;
}

.app-logo {
  height: 38px;
  background-color: rgba(255, 255, 255, 0.209);
  border-radius: 7px;
}

.app-image {
  height: 38px;
}

.app-name {
  font-size: 2.5rem;
}

.filter-settings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-list {
  display: inline-flex;
  gap: 4px;
  padding: 6px;

  background-color: rgba(0, 0, 0, 0.08);

  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.172);
  box-shadow: 1px 1px 10px rgba(21, 12, 12, 0.24);
}

.btn {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.65);
  background-color: transparent;

  border: none;
  border-radius: 100px;
  transition: all 0.25s ease;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.12);
}

.btn.active {
  color: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.18));

  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.25),
    0 0 10px rgba(255, 255, 255, 0.12);
}

.setting-image {
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}

.input-con {
  /* background-color: beige; */
  height: 50%;
  margin: auto 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.task-input {
  height: 55%;
  width: 75%;
  padding-left: 30px;

  border: 1px solid rgba(255, 255, 255, 0.139);
  border-radius: 17px;

  font-size: 1.2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.067);

  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.372);
}

.task-input::placeholder {
  color: rgba(255, 255, 255, 0.466);
}

.task-input:focus {
  outline: none;
}

.add-btn {
  height: 55%;
  width: 25%;
  padding: 0 30px;

  font-size: 1.5em;
  color: white;
  background: linear-gradient(rgba(64, 190, 200), rgba(48, 153, 185));

  cursor: pointer;
  border: none;
  border-radius: 17px;

  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.372);
}

.tasks-con {
  /* background-color: blueviolet; */

  background-color: rgba(0, 0, 0, 0.066);

  height: 55%;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.ex-task {
  background-color: rgba(0, 0, 0, 0.036);
  height: 20%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-task-con {
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 7;
  gap: 13px;
}

.edit-dlt-con {
  /* background-color: azure; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-grow: 1; */
  gap: 15px;
}

.check {
  height: 26px;
  width: 26px;
}

.completed {
  height: 26px;

  border-radius: 100px;

  background-color: rgba(78, 178, 89);
}

.pending {
  height: 26px;
  background-color: rgba(245, 200, 112);
  border-radius: 5px;
}

.task-show {
  /* background-color: bisque; */

  flex-grow: 10;
}

.btn-img {
  background: transparent;
  border: none;
  cursor: pointer;
}

.pencil-img,
.delete-img {
  height: 26px;
}

.completed-edit {
  height: 22px;
  padding: 2px;

  border-radius: 100px;

  background-color: rgba(78, 178, 89);
}

.summery {
  height: 15%;

  margin: 0px 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  font-size: 1.1em;
  margin-left: 7px;
  display: flex;

  gap: 10px;
}

.tag {
  color: rgba(255, 255, 255, 0.42);
}

.btn-clear {
  height: 40%;
  width: 25%;
}

.clear {
  height: 100%;
  width: 100%;
  font-size: 1em;

  cursor: pointer;
  font-weight: 540;

  padding: 5px 20px;

  border: 1px solid rgba(255, 255, 255, 0.155);
  border-radius: 15px;

  color: white;
  background: linear-gradient(165deg, rgb(89, 71, 207), rgb(49, 41, 122));
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.361);
}

/* styles for edit state and container */
.ex-task {
  min-height: 20%;
  height: max-content;
}

.pending-edt {
  display: none;
}

.task-show-edt {
  display: none;
}

.editBox {
  flex-grow: 10;
  align-self: flex-start;

  background-color: rgba(0, 0, 0, 0.333);

  margin-top: 10px;
  margin-right: 10px;
  padding: 20px 15px;

  border-radius: 12px;

  display: flex;
  flex-direction: column;

  gap: 1em;
}

.editinput {
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.927);

  border: 1px solid white;
  border-radius: 7px;

  height: 42px;
  padding-left: 10px;
}

.editinput:focus {
  outline: none;
}

.cancel-save-con {
  display: flex;
  gap: 1em;
}

.cancel,
.save {
  width: 23%;

  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;

  padding: 10px 0px;

  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.cancel {
  background: linear-gradient(rgba(92, 66, 178), rgba(82, 57, 164));
}

.save {
  background: linear-gradient(rgba(49, 151, 205), rgba(42, 131, 196));
}

.tasks-con.editing .ex-task {
  opacity: 0.5;
  filter: blur(2px);
  pointer-events: none;
}

.tasks-con.editing .ex-task.editing-active {
  opacity: 1;
  filter: none;
  pointer-events: auto;
}

.delete-img-edit {
  opacity: 0.5;
  filter: blur(2px);
}

/* style for the app option popup */

.appOnSetting {
  opacity: 0.7;
  filter: blur(2px);
  pointer-events: none;
}

.setting-pop-up {
  width: 35%;
  height: 15%;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.321);

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.169);
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.674);
}

.labelcon {
  height: 50%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.settinglabel {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 530;
}

.btncon {
  min-height: 50%;
  display: flex;
}

.setting-btn {
  padding: 7px 15px;
  margin: auto 0;
  font-size: 1.3em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background: linear-gradient(rgba(166, 62, 92), rgb(93, 33, 52));
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.393);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.deleteimg {
  height: 26px;
  background: transparent;
}

.deletemsg {
  color: white;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;

  background-color: rgba(255, 255, 255, 0.154);

  height: 27px;
  width: 27px;

  border: none;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* style for the delete / clear pop-up */

.finaldeletecon {
  height: 25%;
  width: 50%;

  padding: 2.5%;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.433);

  border: 1px solid rgba(255, 255, 255, 0.169);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.674);
  border-radius: 25px;
}

.headercon {
  height: 40%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.493);
}

.finaldelete {
  height: 45px;
  background-color: rgba(234, 20, 20, 0.292);
  padding: 10px;
  border-radius: 12px;
}

.finalmsg {
  font-size: 2rem;
  word-spacing: 2px;
}

.delete-question-btn {
  height: 60%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  gap: 60px;
}

.finalquestion {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.548);
}

.finalbtncon {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.finalcancel,
.finalclear {
  height: 50px;
  width: 30%;
  font-size: 1.3em;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
}

.finalcancel {
  background: linear-gradient(rgba(235, 233, 248), rgba(205, 205, 246));
}

.finalclear {
  color: white;
  background: linear-gradient(rgba(201, 71, 112), rgba(154, 54, 96));
}
